body{
  /* // background-color: #686868; */
  font-family: "proxima-nova", sans-serif;
  color: #ffffff;
}

#login-form{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#login-button{
  margin-bottom: 1.25rem;
  width: 5rem;
  height: 1.875rem;
  border-color: #ffffff;
  background-color:#292B37;
  color: #ffffff;
  border-radius: 1.875rem 1.875rem;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 0.9375rem;
  text-transform: uppercase;
}

#password{
  height: 1.4375rem;
  font-size: 0.9375rem;
}

#vancouver, #toronto, #victoria, #calgary, #montreal{
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  background-color: #F5F5F5;
}

.horizonalfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.feedback{
    text-align: right;
    margin-right: 0.625rem;
}

.mainbuttons{
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
}

.white{
  padding-left:3.75rem;
  padding-right: 3.75rem;
  line-height: 1.5;
}

.button2{
  width: 10.625rem;
  height: 3.75rem;
  border-color: #ffffff;
  background-color:#292B37;
  color: #ffffff;
  border-radius: 1.875rem 1.875rem;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.button2:hover {
  background-color: #ffffff;
  color: #292B37;
}

h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
/* //   text-transform: uppercase; */
  color: #ffffff;
  padding-top: 1.25rem;
  font-size: 3.125rem;
  letter-spacing: 0.0938rem;
}
h2{
  text-align: center;
  font-family: "FuturaBQ", sans-serif;
  text-transform: uppercase;
  font-size: 1.875rem;
  color: #292B37;
  margin-top: 1.25rem;
  margin-bottom: 0.3125rem;
}
.home{
  display: flex;
  flex-direction: column;
  align-content: center;
  /* padding-top: 1.25rem; */
}

.footertext{
  padding-left: 1.25rem;
  padding-top: 0.9375rem;
}

main{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

#topbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 1.0625rem;
  position: fixed;
  top:0;
  width:97%;
  background-color: white;
  /* border-bottom: 0.1875rem solid cadetblue; */
  opacity: 0.95;
}

.button1{
  color: #676767;
  /* align: left; */
  border-radius: 5%;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.button1:hover {
  color: CadetBlue;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:3.75rem;   /* Height of the footer */
}

#black{
  background-color: #292B37;
}

a:link {
  text-decoration: none;
}

p1, h3, h4{
  color: #292B37;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
}

h4, h5{
  text-align: center;
}

h5 {
  color: ffffff;
  font-size: 1rem;
  font-family: "proxima-nova", sans-serif;
}

#resume, #portfolio, #coverletter, #jobboard, #prep, #culturefit,
#techinterview, #followup, #vancouver, #toronto, #victoria, #calgary, #montreal{
    display: none;
}

#resume, #portfolio, #coverletter, #jobboard, #prep, #culturefit, #techinterview, #followup{
  /* background-color: #f6fbfc; */
  border-left: 0.125rem solid CadetBlue;
  padding-left: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

#stretch{
  display: inline-block;
  align-items: left;
  font-size: 1.25rem;
  opacity: 0.25;
  transform: scaleX(2);
  padding-left: 0.3125rem;
}

#underline{
  /* border-bottom: 0.1875rem solid CadetBlue;
   color: cadetblue;
    background-color: CadetBlue;*/
  padding-left: 0.1875rem;
  padding-right: 0.3125rem;
}

.underline{
  display: flex;
  flex-direction: row;
}

.resume{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.networkingbuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.citybutton{
  width: 8.75rem;
  height: 3.75rem;
  border-color: #ffffff;
  background-color:cadetblue;
  color: #ffffff;
  border-radius: 1.875rem 1.875rem;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align:center;
}

.citybutton:hover{
  background-color: white;
  color: cadetblue;
  border: 0.125rem solid cadetblue;
}

#login-form {
  margin-top: 5rem;
}
