.card-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 15rem;
  padding: 0.2rem;
}

.card-no-scroll {
  /* overflow-y: scroll; */
  /* height: 100vh; */
  margin-top: 3rem;
  /* margin-bottom: 5rem; */
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  font-weight: bold !important;
  letter-spacing: 0.125rem;
  color: #6BBAEC !important;
}

.icon-attr {
  color: #6BBAEC;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 380px) {
  .card-scroll {
    overflow-y: scroll;
    height: 100vh;
    margin-top: 1rem;
  }

  .clear {
    height: 10rem;
  }

  .fa-stack.fa-2x {
  font-size: 1rem;
  }
  
  .icon-attr {
  margin: 0.5rem;
  }

  footer {
    position: relative;
  }

}